@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SteamGameRepository
@{
}

<div class="container ">
    <div class="row row-cols-auto">
        <partial name = "_GameCard" model="Model"></partial>  
  </div>
</div>

